{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block content %}
{% load static %}
<style>
  :root {
    --fonts-path: '{% static "fonts/" %}';
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://myfonts.ru/myfonts?fonts=ermilov" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="wrapper">

            <div class="header__wrapper">

                <div class="header__logo">
                    <a href="{% url 'index' %}" class="header__logo-link">
                        <img src="{% static 'img/svg/logo.svg' %}" alt="ПРоявка та Сканування Фотоплівок" class="header__logo-pic">
                    </a>
                </div>

                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="{% url 'store' %}" class="header__link">Матеріали</a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'order' %}" class="header__link">Проявка та друк</a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'contacts' %}" class="header__link">Контакти</a>
                        </li>
                    </ul>

                </nav>

                <nav class="header__nav">
                    <ul class="header__icons">
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="{% static 'img/svg/search.svg' %}" alt="" class="header__icon-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="{% static 'img/svg/cart.svg' %}" alt="" class="header__icon-cart">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'account' %}" class="header_link">
                                <img src="{% static 'img/svg/account.svg' %}" alt="" class="header__icon-account">
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
    </header>

    <main class="main">
        <section class="account">
            <div class="wrapper">
                <h1 class="account__title">
                    Обліковий Запис та Налаштування
                </h1>
                <div class="account__content">

                    <div class="account__content-personal-data">
                        <img src="/static/img/svg/account-icon.svg" alt="Користувач" class="account-icon">
                        <p class="account-user-fullname">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </p>
                        <p class="account-user-id">
                            ID {{ request.user.pk }}
                        </p>
                        <p class="account-user-email">
                            {{ request.user.email }}
                        </p>
                        <p class="account-user-phone-number">
                            {{ profile_edit_form.phone_number.value }}
                        </p>
                        <img src="/static/img/svg/edit.svg" alt="Редагувати" class="edit-icon">
                        <img src="/static/img/svg/sign-out.svg" alt="Вийти" class="sign-out-icon" id="sign_out">
                    </div>
                    <!-- Вставьте этот код после закрывающего тега </form> -->
                    <div id="editModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form method="post" action="{% url 'account' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_edit_form.as_p }}
                                {{ profile_edit_form.as_p }}
                                <button type="submit">Зберігти зміни</button>
                            </form>
                            <!-- Форма изменения пароля -->
                            <form method="post">
                                {% csrf_token %}
                                {{ password_form.as_p }}
                                <button type="submit">Змінити пароль</button>
                            </form>
                        </div>
                    </div>




                    <div class="account__content-orders-others">
                        <div class="account__content-orders">
                            <p class="account__content-orders__title">
                                Ваші замовлення
                            </p>
                            <div class="account__content-orders-cards">
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-67</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        16 лютого 2023
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">548,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-23</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        11 січня 2023
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">820,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-02</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        28 грудня 2022
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">420,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15965-35</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        11 листопада 2022
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">735,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="account__content-payment-delivery-policy">
                            <div class="account__content-payment">
                                <p class="account__content-payment__title">
                                    Платіжні засоби
                                </p>
                                <div class="account__content-payment__method">
                                    <img src="{% static 'img/svg/bank-card-bigger.svg' %}" alt="Payment" class="payment__method-icon">
                                    <p class="account__content-payment__method-number">
                                        4574 **** **** 1234
                                    </p>
                                </div>
                                <div class="account__content-payment__method">
                                    <img src="{% static 'img/svg/bank-card-bigger.svg' %}" alt="Payment" class="payment__method-icon">
                                    <p class="account__content-payment__method-number">
                                        5673 **** **** 4321
                                    </p>
                                </div>
                                <img src="{% static 'img/svg/edit.svg' %}" alt="Редагувати" class="edit-icon">
                            </div>

                            <div class="account__content-delivery">
                                <p class="account__content-delivery__title">
                                    Локації доставки
                                </p>
                                <div class="account__content-delivery__location">
                                    <img src="{% static 'img/svg/location.svg' %}" alt="Location" class="delivery__location-icon">
                                    <p class="account__content-delivery__location-name">
                                        Площа Ринок, будинок 7, Львів
                                    </p>
                                </div>
                                <div class="account__content-delivery__location">
                                    <img src="{% static 'img/svg/location.svg' %}" alt="Location" class="delivery__location-icon">
                                    <p class="account__content-delivery__location-name">
                                        вул. Городоцька, буд. 150, кв. 13 Львів, Львівська область, 79003
                                    </p>
                                </div>
                                <img src="{% static 'img/svg/edit.svg' %}" alt="Редагувати" class="edit-icon">
                            </div>

                            <div class="account__content-policy">
                                <img src="{% static 'img/svg/policy.svg' %}" alt="Policy" class="policy-icon">
                                <p class="account__content-policy-info">
                                    Політика конфіденційності та юридична документація
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <div class="cart-popup">
      <div class="cart-items-container"></div>
      <div class="cart-total"></div>
      <button class="cart-popup-close">Закрити</button>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
    // Получите модальное окно
    var modal = document.getElementById("editModal");

    // Получите кнопку, которая открывает модальное окно
    var btn = document.getElementsByClassName("edit-icon")[0];

    // Получите элемент <span>, который закрывает модальное окно
    var span = document.getElementsByClassName("close")[0];

    // Когда пользователь нажимает на кнопку, откройте модальное окно
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // Когда пользователь нажимает на элемент <span> (x), закройте модальное окно
    span.onclick = function() {
      modal.style.display = "none";
    }

    // Когда пользователь нажимает в любом месте за пределами модального окна, закройте его
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Получите элемент иконки выхода
    var signOutIcon = document.getElementById("sign_out");

    // При нажатии на иконку выхода перейти на URL-адрес выхода
    signOutIcon.onclick = function() {
        window.location.href = '{% url "sign_out" %}';
    }
    </script>
</body>
{% endblock %}
</html>
