{% extends 'base.html' %}
{% load widget_tweaks %}
{% block nav %}
{% endblock %}

{% block content %}
{% load static %}
<style>
  :root {
    --fonts-path: '{% static "fonts/" %}';
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://myfonts.ru/myfonts?fonts=ermilov" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="header">
        <div class="wrapper">

            <div class="header__wrapper">

                <div class="header__logo">
                    <a href="{% url 'index' %}" class="header__logo-link">
                        <img src="{% static 'img/svg/logo.svg' %}" alt="ПРоявка та Сканування Фотоплівок" class="header__logo-pic">
                    </a>
                </div>

                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="{% url 'store' %}" class="header__link">Матеріали</a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'order' %}" class="header__link">Проявка та друк</a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'contacts' %}" class="header__link">Контакти</a>
                        </li>
                    </ul>

                </nav>

                <nav class="header__nav">
                    <ul class="header__icons">
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="{% static 'img/svg/search.svg' %}" alt="" class="header__icon-pic">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="#!" class="header__link">
                                <img src="{% static 'img/svg/cart.svg' %}" alt="" class="header__icon-cart">
                            </a>
                        </li>
                        <li class="header__item">
                            <a href="{% url 'account' %}" class="header_link">
                                <img src="{% static 'img/svg/account.svg' %}" alt="" class="header__icon-account">
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
    </header>

    <main class="main">
        <section class="account">
            <div class="wrapper">
                <h1 class="account__title">
                    Обліковий Запис та Налаштування
                </h1>
                <div class="account__content">

                    <div class="account__content-personal-data">
                        <img src="/static/img/svg/account-icon.svg" alt="Користувач" class="account-icon">
                        <p class="account-user-fullname">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        </p>
                        <p class="account-user-id">
                            ID {{ request.user.pk }}
                        </p>
                        <p class="account-user-email">
                            {{ request.user.email }}
                        </p>
                        <p class="account-user-phone-number">
                            {{ profile_edit_form.phone_number.value }}
                        </p>
                        <img src="{% static 'img/svg/edit.svg' %}" alt="Редагувати" class="edit-icon" data-edit="personal">
                        <img src="/static/img/svg/sign-out.svg" alt="Вийти" class="sign-out-icon" id="sign_out">
                    </div>
                    <!-- Вставьте этот код после закрывающего тега </form> -->
                    <div id="editModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form method="post" action="{% url 'account' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_edit_form.as_p }}
                                {{ profile_edit_form.as_p }}
                                <button type="submit">Зберігти зміни</button>
                            </form>
                            <!-- Форма изменения пароля -->
                            <form method="post">
                                {% csrf_token %}
                                {{ password_form.as_p }}
                                <button type="submit">Змінити пароль</button>
                            </form>
                        </div>
                    </div>




                    <div class="account__content-orders-others">
                        <div class="account__content-orders">
                            <p class="account__content-orders__title">
                                Ваші замовлення
                            </p>
                            <div class="account__content-orders-cards">
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-67</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        16 лютого 2023
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">548,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-23</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        11 січня 2023
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">820,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15966-02</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        28 грудня 2022
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">420,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                                <div class="account__content-orders-info-card">
                                    <div class="order-card__header">
                                        <img src="{% static 'img/svg/order-complete.svg' %}" alt="Completed" class="order-icon">
                                        <span class="order-number">15965-35</span>
                                    </div>
                                    <div class="order-card__status">
                                        Доставлено:
                                    </div>
                                    <div class="order-card__date">
                                        11 листопада 2022
                                    </div>
                                    <div class="order-card__footer">
                                        <span class="order-amount">735,00₴</span>
                                        <img src="{% static 'img/svg/bank-card.svg' %}" alt="Payment" class="payment-icon">
                                        <span class="payment-status">Сплачено</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="account__content-payment-delivery-policy">
                            <div class="account__content-payment">
                                <p class="account__content-payment__title">
                                    Платіжні засоби
                                </p>
                                {% for bank_card in bank_cards %}
                                <div class="account__content-payment__method">
                                    <img src="{% static 'img/svg/bank-card-bigger.svg' %}" alt="Payment" class="payment__method-icon">
                                    <p class="account__content-payment__method-number">**** **** **** {{ bank_card.card_number|slice:"-4:" }}</p>
                                    <button class="delete-card-btn" data-card-id="{{ bank_card.id }}">x</button>
                                </div>
                                {% endfor %}
                                <img src="{% static 'img/svg/edit.svg' %}" alt="Редагувати" class="edit-icon" id="addBankCardBtn" data-edit="personal">
                            </div>

                            <!-- Модальное окно для добавления банковской карты -->
                            <div id="addBankCardModal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2>Додати банковську карту</h2>
                                    <form method="post" action="{% url 'add_bank_card' %}">
                                        {% csrf_token %}
                                        {{ bank_card_form.as_p }}
                                        <button type="submit">Зберігти</button>
                                    </form>
                                </div>
                            </div>


                            <div class="account__content-delivery">
                                <p class="account__content-delivery__title">
                                    Локації доставки
                                </p>
                                {% for delivery_location in delivery_locations %}
                                <div class="account__content-delivery__location">
                                    <img src="{% static 'img/svg/location.svg' %}" alt="Location" class="delivery__location-icon">
                                    <p class="account__content-delivery__location-name">
                                        {{ delivery_location.delivery_address }}
                                    </p>
                                    <button class="delete-location-btn" data-location-id="{{ delivery_location.id }}">x</button>
                                </div>
                                {% endfor %}
                                <img src="{% static 'img/svg/edit.svg' %}" alt="Редагувати" class="edit-icon" id="editDeliveryLocationIcon">
                            </div>


                            <div id="addDeliveryLocationModal" class="modal">
                              <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2>Додати локацію доставки</h2>
                                <form id="addDeliveryLocationForm" method="post">
                                    {% csrf_token %}
                                    {{ delivery_location_form.delivery_address|add_class:'css_location-form' }}
                                    <button type="submit">Зберегти локацію</button>
                                </form>
                              </div>
                            </div>


                            <div class="account__content-policy">
                                <img src="{% static 'img/svg/policy.svg' %}" alt="Policy" class="policy-icon">
                                <p class="account__content-policy-info">
                                    Політика конфіденційності та юридична документація
                                </p>
                            </div>
                            <!-- Модальное окно с политикой конфиденциальности -->
                            <div class="modal" id="policy-modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2 class="policy-content-title">Політика конфіденційності Flashback Saloon</h2>
                                    <!-- здесь будет содержимое политики конфиденциальности и юридической документации -->
                                    <div class="policy-content">
                                        <p class="policy-content-general">
                                            Дата набуття чинності: [вставити дату].

                                            Вступ

                                            У Flashback Saloon ми серйозно ставимося до вашої конфіденційності. Ця Політика конфіденційності описує, як ми збираємо, використовуємо та розкриваємо особисту інформацію, яку ми отримуємо від вас, коли ви користуєтеся нашим веб-сайтом та послугами.

                                            Отримуючи доступ або використовуючи наш веб-сайт і послуги, ви погоджуєтеся з умовами цієї Політики конфіденційності. Якщо ви не згодні з нашою практикою, ви не повинні користуватися нашим веб-сайтом або послугами.

                                            Інформація, яку ми збираємо
                                            Ми можемо збирати від вас особисту інформацію, коли ви користуєтеся нашим веб-сайтом і послугами, наприклад, ваше ім'я, адресу електронної пошти, номер телефону, платіжну адресу, адресу доставки та платіжну інформацію (наприклад, номери кредитних карток).

                                            Ми також можемо збирати неособисту інформацію про використання вами нашого веб-сайту та послуг, наприклад, вашу IP-адресу, тип браузера та операційну систему.

                                            Як ми використовуємо вашу інформацію
                                            Ми можемо використовувати вашу особисту інформацію для наступних цілей:

                                            Надання вам наших послуг, включаючи обробку замовлень, доставку продуктів і надання підтримки клієнтів.
                                            Для спілкування з вами щодо ваших замовлень, продуктів і послуг.
                                            Щоб надсилати вам маркетингові та рекламні повідомлення, якщо ви дали згоду на їх отримання.
                                            Покращення нашого веб-сайту та послуг, включаючи аналіз поведінки та вподобань користувачів.
                                            Для виконання юридичних зобов'язань, таких як податкові та бухгалтерські вимоги.
                                            Як ми ділимося вашою інформацією
                                            Ми можемо ділитися вашою особистою інформацією зі сторонніми постачальниками послуг, яких ми використовуємо для надання вам наших послуг, наприклад, з перевізниками, платіжними системами та службами підтримки клієнтів.

                                            Ми також можемо ділитися вашою інформацією з нашими діловими партнерами або афілійованими особами, якщо ми отримали на це вашу згоду.

                                            Ми можемо розкрити вашу інформацію, якщо цього вимагає закон або якщо ми вважаємо, що таке розкриття необхідне для захисту наших прав або прав інших осіб, для розслідування шахрайства або для надання відповіді на урядовий запит.

                                            Ваші права та можливості вибору
                                            Ви маєте право на доступ, виправлення або видалення вашої особистої інформації, яку ми отримали від вас. Ви також маєте право заперечити або обмежити певну обробку вашої особистої інформації.

                                            Ви можете відмовитися від отримання маркетингових та рекламних повідомлень від нас у будь-який час, натиснувши посилання "скасувати підписку" в електронному листі або зв'язавшись з нами за адресою [вкажіть контактну електронну адресу].

                                            Безпека
                                            Ми вживаємо розумних заходів для захисту безпеки вашої особистої інформації, включаючи використання шифрування та безпечного зберігання.

                                            Однак жодна передача даних через Інтернет або будь-яку бездротову мережу не може бути гарантована на 100% безпечною. Тому, хоча ми прагнемо захистити вашу особисту інформацію, ми не можемо забезпечити або гарантувати безпеку будь-якої інформації, яку ви передаєте нам або з нашого веб-сайту, і ви робите це на свій страх і ризик.

                                            Міжнародна передача даних
                                            Ми можемо передавати вашу особисту інформацію в інші країни для обробки, в тому числі в країни, які можуть мати інші закони про захист даних, ніж країна вашого проживання.

                                            Ми вживатимемо належних заходів для забезпечення захисту вашої особистої інформації та її передачі відповідно до чинного законодавства.

                                            Зміни до цієї Політики конфіденційності
                                            Ми можемо час від часу оновлювати цю Політику конфіденційності, публікуючи нову версію на нашому веб-сайті. Ми повідомимо вас про будь-які суттєві зміни в цій Політиці конфіденційності електронною поштою або шляхом розміщення повідомлення на нашому веб-сайті.

                                            Зв'яжіться з нами
                                            Якщо у вас виникли запитання щодо цієї Політики конфіденційності або нашої практики, будь ласка, зв'яжіться з нами за адресою [вкажіть контактну електронну адресу].
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Затемнение фона -->
                            <div class="modal-backdrop" id="modal-backdrop" style="display: none;"></div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <div class="cart-popup">
      <div class="cart-items-container"></div>
      <div class="cart-total"></div>
      <button class="cart-popup-close">Закрити</button>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function attachDeleteCardEventHandlers() {
                document.querySelectorAll(".delete-card-btn").forEach((btn) => {
                    btn.addEventListener("click", (e) => {
                        const cardId = e.target.dataset.cardId;

                        fetch(`/delete-bank-card/${cardId}/`, {
                          method: "GET",
                          headers: {
                            "X-CSRFToken": document.querySelector('[name="csrfmiddlewaretoken"]').value,
                          },
                        })
                          .then((response) => {
                            if (response.ok) {
                              return response.json();
                            } else {
                              throw new Error("Ошибка при удалении карты");
                            }
                          })
                          .then((data) => {
                            console.log(data);
                            if (data.status === "success") {
                              e.target.parentElement.remove();
                            } else {
                              alert("Произошла ошибка при удалении карты");
                            }
                          })
                          .catch((error) => {
                            console.error(error);
                            alert("Произошла ошибка при удалении карты");
                          });
                        });
                });
            }

            attachDeleteCardEventHandlers();

            var editModal = document.getElementById("editModal");
            var addBankCardModal = document.getElementById("addBankCardModal");

            var editBtn = document.querySelector(".edit-icon[data-edit='personal']");
            var addBankCardBtn = document.getElementById("addBankCardBtn");

            editBtn.onclick = function() {
              editModal.style.display = "block";
            }

            addBankCardBtn.onclick = function() {
              addBankCardModal.style.display = "block";
            }

            var closeButtons = document.getElementsByClassName("close");

            for (var i = 0; i < closeButtons.length; i++) {
              closeButtons[i].onclick = function() {
                this.parentElement.parentElement.style.display = "none";
              }
            }

            window.onclick = function (event) {
              if (event.target == editModal) {
                editModal.style.display = "none";
              } else if (event.target == addBankCardModal) {
                addBankCardModal.style.display = "none";
              }
            };

            var signOutIcon = document.getElementById("sign_out");

            signOutIcon.onclick = function() {
                window.location.href = '{% url "sign_out" %}';
            }


            var addBankCardForm = document.getElementById("addBankCardForm");

            if (addBankCardForm) {
                document.getElementById("addBankCardForm").addEventListener("submit", function (event) {
                    event.preventDefault();

                    var form = event.target;
                    var formData = new FormData(form);

                    fetch("add-bank-card/", {
                      method: "POST",
                      body: formData,
                      headers: {
                        "X-CSRFToken": document.querySelector('[name="csrfmiddlewaretoken"]').value,
                      },
                    })
                    .then((response) => {
                      if (response.ok) {
                        return response.json();
                      } else {
                        throw new Error("Ошибка при добавлении банковской карты");
                      }
                    })
                    .then((response) => {
                        if (response.status === 302) {
                          window.location.href = response.url;
                        } else {
                          alert("Произошла ошибка при добавлении банковской карты");
                        }
                      })
                    .catch((error) => {
                      console.error("Ошибка:", error);
                    });
                });
            }
        });

        // В вашем файле account.js
        const addDeliveryLocationModal = document.getElementById("addDeliveryLocationModal");
        const openModalButton = document.getElementById("editDeliveryLocationIcon"); // Изменено на id
        const closeModalButton = document.querySelector(".close");

        document.getElementById("addDeliveryLocationForm").addEventListener("submit", function (event) {
          event.preventDefault();

          var form = event.target;
          var formData = new FormData(form);

          // Остальной код отправки формы
        });


        function createDeliveryLocationElement(address) {
            const locationWrapper = document.createElement("div");
            locationWrapper.classList.add("account__content-delivery__location");

            const locationIcon = document.createElement("img");
            locationIcon.src = "{% static 'img/svg/location.svg' %}";
            locationIcon.alt = "Location";
            locationIcon.classList.add("delivery__location-icon");

            const locationName = document.createElement("p");
            locationName.classList.add("account__content-delivery__location-name");
            locationName.textContent = address;

            const editIcon = document.createElement("img");
            editIcon.src = "{% static 'img/svg/edit.svg' %}";
            editIcon.alt = "Редагувати";
            editIcon.classList.add("edit-icon");

            locationWrapper.appendChild(locationIcon);
            locationWrapper.appendChild(locationName);
            locationWrapper.appendChild(editIcon);

            return locationWrapper;
        }


        openModalButton.addEventListener("click", function () {
          addDeliveryLocationModal.style.display = "block";
        });

        closeModalButton.addEventListener("click", function () {
          addDeliveryLocationModal.style.display = "none";
        });

        window.addEventListener("click", function (event) {
          if (event.target == addDeliveryLocationModal) {
            addDeliveryLocationModal.style.display = "none";
          }
        });



      // В вашем файле account.js
        document.getElementById("addDeliveryLocationForm").addEventListener("submit", function (event) {
          event.preventDefault();

          var form = event.target;
          var formData = new FormData(form);

        fetch("/add-delivery-location/", {
            method: "POST",
            body: formData,
            headers: {
                "X-CSRFToken": document.querySelector('[name="csrfmiddlewaretoken"]').value,
            },
        })
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            response.json().then((data) => {
              console.error("Ошибка сервера:", data);
            });
            throw new Error("Ошибка при добавлении адреса доставки");
          }
        })
        .then((data) => {
            if (data.status === "success") {
                const deliveryLocationList = document.querySelector(".account__content-delivery");

                const newDeliveryLocation = document.createElement("div");
                newDeliveryLocation.classList.add("account__content-delivery__location");

                const locationIcon = document.createElement("img");
                locationIcon.src = "{% static 'img/svg/location.svg' %}";
                locationIcon.alt = "Location";
                locationIcon.classList.add("delivery__location-icon");

                const locationName = document.createElement("p");
                locationName.classList.add("account__content-delivery__location-name");
                locationName.textContent = data.delivery_address;

                const editIcon = document.createElement("img");
                editIcon.src = "{% static 'img/svg/edit.svg' %}";
                editIcon.alt = "Редагувати";
                editIcon.classList.add("edit-icon");

                newDeliveryLocation.appendChild(locationIcon);
                newDeliveryLocation.appendChild(locationName);
                newDeliveryLocation.appendChild(editIcon);

                deliveryLocationList.insertBefore(newDeliveryLocation, document.getElementById("editDeliveryLocationIcon"));
            } else {
                alert("Произошла ошибка. Пожалуйста, попробуйте еще раз.");
            }
        })



        .catch((error) => {
          console.error("Error:", error);
          alert("Произошла ошибка. Пожалуйста, попробуйте еще раз.");
        });

        });

        document.getElementById("editDeliveryLocationIcon").addEventListener("click", function() {
          console.log("Кнопка нажата");
        });

        document.addEventListener("DOMContentLoaded", function() {
            function attachDeleteLocationEventHandlers() {
                document.querySelectorAll(".delete-location-btn").forEach((btn) => {
                    btn.addEventListener("click", (e) => {
                        const locationId = e.target.dataset.locationId;

                        fetch(`/delete-delivery-location/${locationId}/`, {
                            method: "GET",
                            headers: {
                                "X-CSRFToken": document.querySelector('[name="csrfmiddlewaretoken"]').value,
                            },
                        })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error("Ошибка при удалении адреса доставки");
                            }
                        })
                        .then((data) => {
                            if (data.status === "success") {
                                e.target.parentElement.remove();
                            } else {
                                alert("Произошла ошибка при удалении адреса доставки");
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                            alert("Произошла ошибка при удалении адреса доставки");
                        });
                    });
                });
            }

            attachDeleteLocationEventHandlers();
            // ... остальной код
        });

        document.addEventListener("DOMContentLoaded", function () {
            const policyModal = document.getElementById("policy-modal");
            const policyModalClose = document.querySelector("#policy-modal .close");
            const modalBackdrop = document.getElementById("modal-backdrop");

            document.querySelector(".account__content-policy").addEventListener("click", () => {
                policyModal.style.display = "block";
                modalBackdrop.style.display = "block";
            });

            policyModalClose.addEventListener("click", () => {
                policyModal.style.display = "none";
                modalBackdrop.style.display = "none";
            });

            modalBackdrop.addEventListener("click", () => {
                policyModal.style.display = "none";
                modalBackdrop.style.display = "none";
            });

            // ... остальной код
        });

    </script>
</body>
{% endblock %}
</html>
